digraph {
    node [shape="box"];
    {% for itemkey, itemvaule  in clusters.items() if itemkey != 'type' and itemkey != 'flows'  recursive %}
    {% if 'type' in itemvaule and itemvaule['type'] == 'group' %}
        subgraph cluster_{{loop.depth}}_{{ loop.index }} {
            label="{{ itemkey }}";
            {{ loop(itemvaule.items()) }}
        }

    {% else %}
    {{ itemkey.replace('-', '_') }} [
        shape="plaintext";
        label=<
            <table border='0' cellborder='1' cellspacing='0'>
                <tr><td>{{ itemkey }}</td></tr>
                {% for sattr_key, sattr_vaule in itemvaule.items()%}
                <tr>
                    <td cellpadding='4'>
                    <table border='0' cellspacing='0'>
                        <tr><td>{{ sattr_key }}</td></tr>
                        {% for v in sattr_vaule %}
                        <tr><td>{{ v }}</td></tr>
                        {% endfor %}
                    </table>
                    </td>
                </tr>}
                {% endfor %}
            </table>
        >
    ];
    {% endif %}
    {% endfor %}
    {% for flow in clusters['flows'] %}
    {{ flow.replace('-', '_').replace('_>', '->') }};
    {% endfor %}
}
